body{
    margin: 0;
}

@media screen and (max-width:1024px){
    body{
        background-color: darkblue;
    }
    .root{
        width: 1024px;
    }
}
@media screen and (max-width:768px){
    body{
        background-color: darkkhaki;
    }
    .root{
        width: 768px;
    }
}
@media screen and (max-width:320px){
    body{
        background-color: dodgerblue;
    }
    .root{
        width: 320px;
    }
}
